.grafik-galang-dana {
  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    .card-title {
      margin-bottom: 0;
    }
    .date {
      font-size: 14px;
      line-height: 17px;
      color: #717171;
      display: flex;
      align-items: center;
      column-gap: 4px;
      .button-date {
        background-color: transparent;
        border-width: 0;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
        padding: 0;
      }
    }
  }
  .chart-container {
    width: 100%;
  }
}

.mini-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;

  .title {
    font-size: 18px;
    color: #717171;
  }

  .count {
    font-weight: 400;
    font-size: 32px;
  }
}
