.grafik-galang-dana {
  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    .card-title {
      margin-bottom: 0;
    }
    .date {
      font-size: 14px;
      line-height: 17px;
      color: #717171;
      display: flex;
      align-items: center;
      column-gap: 4px;
      .button-date {
        background-color: transparent;
        border-width: 0;
        font-family: inherit;
        font-size: inherit;
        font-style: inherit;
        font-weight: inherit;
        line-height: inherit;
        padding: 0;
      }
    }
  }
  .chart-container {
    width: 100%;

    canvas {
      width: 100% !important;
    }
  }
}
