.fundraiser-page {
  .rounded {
    border-radius: 20px;
  }
}

.detail-fundraiser-page {
  .rounded {
    border-radius: 20px;
  }
  .button-container {
    display: flex;
  }
  .button-transaksi {
    border-radius: 15px 0 0 15px;
    background-color: #ffffff;
    border-color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    color: #717171;
    width: 140px;
    min-width: 140px;
    white-space: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  .button-transaksi:hover {
    border-radius: 15px 0 0 15px;
    background-color: #c41230;
    border-color: #c41230;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    width: 140px;
    min-width: 140px;
    white-space: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  .button-transaksi-active {
    border-radius: 15px 0 0 15px;
    background-color: #c41230;
    border-color: #c41230;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    width: 140px;
    min-width: 140px;
    white-space: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  .button-transaksi-active:hover {
    border-radius: 15px 0 0 15px;
    background-color: #850c21;
    border-color: #850c21;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    width: 140px;
    min-width: 140px;
    white-space: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  .button-komisi {
    border-radius: 0 15px 15px 0;
    background-color: #ffffff;
    border-color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    color: #717171;
    width: 140px;
    min-width: 140px;
    white-space: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  .button-komisi:hover {
    border-radius: 0 15px 15px 0;
    background-color: #c41230;
    border-color: #c41230;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    width: 140px;
    min-width: 140px;
    white-space: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  .button-komisi-active {
    border-radius: 0 15px 15px 0;
    background-color: #c41230;
    border-color: #c41230;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    width: 140px;
    min-width: 140px;
    white-space: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  .button-komisi-active:hover {
    border-radius: 0 15px 15px 0;
    background-color: #850c21;
    border-color: #850c21;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    width: 140px;
    min-width: 140px;
    white-space: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  .dark-button-transaksi {
    border-radius: 15px 0 0 15px;
    background-color: #242224;
    border-color: #242224;
    font-size: 14px;
    font-weight: bold;
    color: #8f8f8f;
    width: 140px;
    min-width: 140px;
    white-space: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  .dark-button-transaksi:hover {
    border-radius: 15px 0 0 15px;
    background-color: #c41230;
    border-color: #c41230;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    width: 140px;
    min-width: 140px;
    white-space: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  .dark-button-transaksi-active {
    border-radius: 15px 0 0 15px;
    background-color: #c41230;
    border-color: #c41230;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    width: 140px;
    min-width: 140px;
    white-space: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  .dark-button-transaksi-active:hover {
    border-radius: 15px 0 0 15px;
    background-color: #850c21;
    border-color: #850c21;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    width: 140px;
    min-width: 140px;
    white-space: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  .dark-button-komisi {
    border-radius: 0 15px 15px 0;
    background-color: #242224;
    border-color: #242224;
    font-size: 14px;
    font-weight: bold;
    color: #8f8f8f;
    width: 140px;
    min-width: 140px;
    white-space: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  .dark-button-komisi:hover {
    border-radius: 0 15px 15px 0;
    background-color: #c41230;
    border-color: #c41230;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    width: 140px;
    min-width: 140px;
    white-space: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  .dark-button-komisi-active {
    border-radius: 0 15px 15px 0;
    background-color: #c41230;
    border-color: #c41230;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    width: 140px;
    min-width: 140px;
    white-space: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  .dark-button-komisi-active:hover {
    border-radius: 0 15px 15px 0;
    background-color: #850c21;
    border-color: #850c21;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    width: 140px;
    min-width: 140px;
    white-space: none;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1) !important;
  }
  .card-rounded {
    border-radius: 15px;
    .card-body {
      padding: 12px;
    }
  }
}
