.fundraiser-page {
  .rounded {
    border-radius: 20px;
  }
}

.detail-fundraiser-page {
  .rounded {
    border-radius: 20px;
  }
  .custom-button-transaksi {
    border-radius: 15px 0 0 15px;
    background-color: #ffffff;
    border-color: #ffffff;
    color: black;
    width: 140px;
  }
  .custom-button-transaksi:hover {
    border-radius: 15px 0 0 15px;
    background-color: #c41230;
    border-color: #c41230;
    color:#ffffff;
    width: 140px;
  }
  .custom-button-komisi {
    border-radius: 0 15px 15px 0;
    background-color: #ffffff;
    border-color: black;
    color: black;
    width: 140px;
  }
  .custom-button-komisi:hover {
    border-radius: 0 15px 15px 0;
    background-color: #c41230;
    border-color: #c41230;
    color:#ffffff;
    width: 140px;
  }
}
