.card-rounded {
  border-radius: 15px;
  .card-body {
    padding: 24px;
    th {
      border-top: 0;
    }
    .judul-campaign {
      max-width: 150px;
    }
    .status-verifikasi-success {
      max-width: 77px;
    }
    .status-verifikasi-pending {
      max-width: 80px;
    }
    .status-verifikasi-danger {
      max-width: 94px;
    }
    .status-success {
      max-width: 85px;
    }
    .status-danger {
      max-width: 62px;
    }
  }
}

.detail-transaksi-label {
  font-size: 14px;
  color: #717171;
}

.form-group {
  width: 100%;
}

.detail-transaksi-text {
  font-size: 16px;
  color: #3a3a3a;
  margin-left: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #F4F4F4;
}

.detail-transaksi-box-link {
  width: 100%;
  margin-left: 0;
  border-bottom: 1px solid #F4F4F4;
}

.detail-transaksi-link {
  width: 300px;
  text-decoration: underline;
  font-size: 16px;
  color: #3a3a3a;
  margin-left: 0;
  padding-bottom: 10px;
}